:root {
  /* text color */
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --black-color: #000000;
  /* background color */
  --white-background: #FFFFFF;
  --dark-backgorund: #2F303A;
  --lite-background: #F5F4FA;
  --button-background: #F5F4FA;
  /* animations */
  --animation-time: 250ms;
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

button {
  outline: none;
}

.title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.work__title--hidden,
.hidden {
  margin: 0;
  height: 0;
  visibility: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  .container {
    width: auto;
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .nav__container {
    width: 100%;
  }
}

.header__logo span {
  color: var(--accent-color);
}

.nav__list {
  display: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  position: relative;
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}
.nav__link:hover {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header__contacts {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
  }
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}
@media screen and (min-width: 1200px) {
  .header__contact {
    margin-left: auto;
  }
}

.header__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .header__contact + .header__contact {
    margin-left: 30px;
  }
}

.header__contact:hover,
.header__contact:focus {
  color: var(--accent-color);
}

.menu {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 0 48px 40px;
  background-color: var(--white-color);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.menu.is-open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.menu__open,
.menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  color: var(--primary-color);
  outline: none;
  background: transparent;
  border: none;
  padding: 10px 0;
  -webkit-transition: color var(--animation-time) var(--animation-timing);
  transition: color var(--animation-time) var(--animation-timing);
}
.menu__open:active,
.menu__close:active {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu__open,
.menu__close {
    display: none;
  }
}

.menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
}

.menu__open--icon,
.menu__close--icon {
  display: block;
  fill: currentColor;
}

.menu__list {
  margin: 0;
  padding: 0;
}

.menu__item + .menu__item {
  margin-top: 32px;
}

.menu__link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  -webkit-transition: color var(--animation-time) var(--animation-timing);
  transition: color var(--animation-time) var(--animation-timing);
}
.menu__link--active {
  color: var(--accent-color);
}
.menu__link:active {
  color: var(--accent-color);
}

.menu__contact {
  margin-top: auto;
}

.menu__phone {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.menu__email {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 64px;
}

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.menu__social--link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu__social--item + .menu__social--item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}

.logo {
  display: inline-block;
  color: var(--black-color);
  font-weight: 700;
  font-size: 24px;
  font-family: Raleway;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.hero {
  max-width: 1600px;
  margin: auto;
  padding: 118px 0;
  background-color: rgb(47, 48, 58);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/back-mob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/back-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/back-mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/back-mob@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/back-tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/back-tab.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/back-tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/back-tab@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/back-desk.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/back-desk.jpg);
    padding: 200px 0;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/back-desk@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/back-desk@2x.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  line-height: 1.61;
  font-size: 26px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 700px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__order {
  padding: 10px 32px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--white-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}
.hero__order:active {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .hero__order:hover {
    background-color: #188CE8;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-bottom: 0;
  }
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .feature__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 90px) / 4);
  }
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--lite-background);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.feature__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.feature__desc {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-color);
}

.doing {
  display: none;
}
@media screen and (min-width: 1200px) {
  .doing {
    display: block;
  }
}

.doing__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.doing__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doing__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.doing__item + .doing__item {
  margin-left: 30px;
}

.doing__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.doing__subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  padding: 27px 0;
  text-align: center;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--lite-background);
}

.team__title {
  margin-top: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team__item {
  background: var(--white-color);
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.team__desc {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-color);
}

.team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .team__icons {
    margin-bottom: 30px;
  }
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}
.team__link:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team__icon {
  display: block;
  fill: currentColor;
}

.client__title {
  margin-top: 0;
  text-align: center;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.client__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  cursor: pointer;
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}
.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client__icon {
  display: block;
  fill: currentColor;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .sort-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .sort-list {
    margin-bottom: 50px;
  }
}

.sort-btn {
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
  background-color: var(--button-background);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: box-shadow, background-color, color;
  transition-property: box-shadow, background-color, color, -webkit-box-shadow;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}
.sort-btn:hover, .sort-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.work__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .work__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .work__item {
    width: calc((100% - 60px) / 3);
  }
}

.work__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}
.work__item-link:hover, .work__item-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work__item-link:hover .work-image .work-text, .work__item-link:focus .work-image .work-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work__item img {
  display: block;
  width: 100%;
  height: auto;
}

.work-image {
  position: relative;
  overflow: hidden;
}

.work-image .work-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}

.work-text p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}

.work__item .description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.work-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.work-desc {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--dark-backgorund);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    padding-left: 76px;
    padding-right: 89px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--white-color);
}
.footer__logo span {
  color: var(--accent-color);
}

.nav__address {
  display: inline-block;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .nav__address {
    margin-bottom: 9px;
  }
}

.nav__list--footer {
  margin: 0;
  padding: 0;
}

.nav__contact {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}
.nav__contact:hover, .nav__contact:focus {
  color: var(--accent-color);
}

.nav__item--footer:last-child {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .nav__item--footer:last-child {
    margin-top: 9px;
  }
}

.footer__title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin: 0;
  padding: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--white-color);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  display: block;
  fill: currentColor;
}

/* footer subscribe */
.footer__subscribe {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    width: auto;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}

.subscribe__input {
  display: block;
  height: 50px;
  padding: 0 16px;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__input {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--white-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--black-color);
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--animation-time);
          transition-duration: var(--animation-time);
  -webkit-transition-timing-function: var(--animation-timing);
          transition-timing-function: var(--animation-timing);
}
.modal-close:hover {
  color: var(--accent-color);
}

.modal-close svg {
  display: block;
  fill: currentColor;
}

.form {
  padding: 40px;
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 1.15;
  }
}

.form-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-label-last {
  margin-bottom: 20px;
}

.form-label-item {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 42px;
  -webkit-transition: border var(--animation-time) var(--animation-timing);
  transition: border var(--animation-time) var(--animation-timing);
}
.form-input:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.form-input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: currentColor;
  -webkit-transition: fill var(--animation-time) var(--animation-timing);
  transition: fill var(--animation-time) var(--animation-timing);
}

.form-text {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  outline: none;
  -webkit-transition: border var(--animation-time) var(--animation-timing);
  transition: border var(--animation-time) var(--animation-timing);
}
.form-text:focus {
  border: 1px solid var(--accent-color);
}
.form-text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 30px;
  cursor: pointer;
}

.form-agree-item {
  font-size: 12px;
  line-height: 0.85;
  margin-left: 8px;
}
.form-agree-item a {
  color: #2196F3;
  text-decoration: underline;
  text-underline-position: unset;
}
@media screen and (min-width: 1200px) {
  .form-agree-item {
    line-height: 1.71;
    font-size: 14px;
  }
}

.form-submit {
  display: block;
  margin: auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  border: none;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color var(--animation-time) var(--animation-timing);
  transition: background-color var(--animation-time) var(--animation-timing);
}
.form-submit:active {
  background-color: #188CE8;
}
@media screen and (min-width: 1200px) {
  .form-submit:hover {
    background-color: #188CE8;
  }
}

.form-check {
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity var(--animation-time) var(--animation-timing);
  transition: opacity var(--animation-time) var(--animation-timing);
}

.icon-unchecked {
  opacity: 1;
  -webkit-transition: opacity var(--animation-time) var(--animation-timing);
  transition: opacity var(--animation-time) var(--animation-timing);
}

.form-check:checked + svg > .icon-unchecked {
  opacity: 0;
}

.form-check:checked + svg > .icon-checked {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */