.logo {
    display: inline-block;

    color: var(--black-color);
    font-weight: 700;
    font-size: 24px;
    font-family: Raleway;

    @media screen and (min-width:1200px) {
        font-size: 26px;
    }
}