.team {
    background-color: var(--lite-background);
}

.team__title {
    margin-top: 0;
    text-align: center;

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}

.team__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;

    @media screen and (min-width:768px) {
        flex-direction: row;
    }
}

.team__item {
    background: var(--white-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    text-align: center;

    @media screen and (min-width:768px) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width:1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.team__image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.team__subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
}

.team__desc {
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-color);
}

.team__icons {
    display: flex;
    justify-content: center;
    column-gap: 10px;

    margin: 0;
    margin-bottom: 24px;
    padding: 0;

    @media screen and (min-width:1200px) {
        margin-bottom: 30px;
    }
}

.team__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    color: #AFB1B8;

    transition-property: background-color, color;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--animation-timing);

    &:hover {
        background-color: var(--accent-color);
        color: var(--white-color);
    }
}

.team__icon {
    display: block;
    fill: currentColor;
}