body {
    color: var(--primary-color);
    font-family: Roboto;
    letter-spacing: 0.03em;
    line-height: 1.2;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

input {
    outline: none;
}
button {
    outline: none;
}

.title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.section {
    padding: 60px 0;

    @media screen and (min-width:1200px) {
        padding: 94px 0;
    }
}